<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sample suite" parallel="tests">

    <test name="AgentAppGiAk" allow-return-values="true">
        <classes>
            <class name="reports.ExtentManager" />
        </classes>
    </test>

    <test name="AgentFullUnderwriting" allow-return-values="true">
        <classes>
            <class name="reports.ExtentManager" />
        </classes>
    </test>



</suite>


