<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sample suite" parallel="tests">

    <test name="Login Test" allow-return-values="true">
        <classes>
            <class name="com.qtpselenium.hybrid.LoginTest" />
        </classes>
    </test>

    <test name="Lead Test" allow-return-values="true">
        <classes>
            <class name="com.qtpselenium.hybrid.LeadTest" />
        </classes>
    </test>



</suite>


